asgiref==3.2.7
boto3==1.13.15
botocore==1.16.15
checksum==1.0.4
cheroot==8.3.0
Django==3.0.6
django-filter==2.2.0
django-storages==1.9.1
docutils==0.15.2
extras==1.0.0
gunicorn==20.0.4
jaraco.functools==3.0.1
jmespath==0.10.0
more-itertools==8.3.0
mysqlclient==1.4.6
Pillow==9.0.0
pycryptodome==3.9.7
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
web.py==0.40.dev1
whitenoise==5.1.0
